#inspiration-1{
	background: url(http://placehold.it/206x160);
}
#inspiration-2{
	background: url(http://placehold.it/206x160);
}
#inspiration-3{
	background: url(http://placehold.it/206x160);
}
#inspiration-4{
	background: url(http://placehold.it/206x160);
}
#inspiration-5{
	background: url(http://placehold.it/206x160);
}
#inspiration-6{
	background: url(http://placehold.it/206x160);
}
#inspiration-7{
	background: url(http://placehold.it/206x160);
}
#inspiration-8{
	background: url(http://placehold.it/206x160);
}
#inspiration-9{
	background: url(http://placehold.it/206x160);
}
#inspiration-10{
	background: url(http://placehold.it/206x160);
}
#inspiration-11{
	background: url(http://placehold.it/206x160);
}
#inspiration-12{
	background: url(http://placehold.it/206x160);
}