#projects-1{
	background: url(http://placehold.it/259x230);
}
#projects-2{
	background: url(http://placehold.it/259x230);
}
#projects-3{
	background: url(http://placehold.it/259x230);
}
#projects-4{
	background: url(http://placehold.it/259x230);
}
#projects-5{
	background: url(http://placehold.it/259x230);
}
#projects-6{
	background: url(http://placehold.it/259x230);
}
#projects-7{
	background: url(http://placehold.it/259x230);
}
#projects-8{
	background: url(http://placehold.it/259x230);
}
#projects-9{
	background: url(http://placehold.it/259x230);
}
#projects-10{
	background: url(http://placehold.it/259x230);
}
#projects-11{
	background: url(http://placehold.it/259x230);
}
#projects-12{
	background: url(http://placehold.it/259x230);
}